.container {
    @include container;
}

.title-yellow {
    color: $yellow;
}

.title-red {
    color: $red;
}

.title-blue {
    color: $blue;
}

.ativo {
    color: $blue;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    bottom          : 0;
    height          : 0;
    left            : 0;
    overflow        : hidden;
    position        : absolute;
    right           : 0;
    transition      : .5s all ease-in-out;
    width           : 100%;

    p {
        position  : absolute;
        left      : 50%;
        top       : 50%;
        text-align: center;
        transform : translate(-50%, -50%);
        width     : 90%;
        @extend %paragraphs;
    }
}