/* colors */
$black          : #000000;
$black-light    : #232323;
$black-opacity  : rgba(29, 29, 29, 1);
$blue           : #1aebf8;
$blue-opacity   : rgba(0, 216, 255, 1);
$green          : #39b54a;
$green-opacity  : rgba(57, 181, 74, 1);
$gray           : #999999;
$gray-light     : #f5f5f5;
$gray-dark      : #878787;
$gray-opacity   : rgba(163, 167, 167, 1);
$yellow         : #fed92e;
$yellow-opacity : rgba(254, 217, 46, 1);
$oceanic        : #1aebf8;
$oceanic-opacity: rgba(0, 216, 255, 1);
$red            : #fe2f3e;
$red-opacity    : rgba(254, 46, 61, 1);
$tomato         : #ed145b;
$tomato-opacity : rgba(237, 20, 91, 1);
$white          : #ffffff;
$white-opacity  : rgba(255, 255, 255, 1);

/* fonts */
$font-01: 'Roboto';
$font-02: 'Open Sans',
sans-serif;
$font-03: 'Poppins',
sans-serif;

/* general */
$linear-gradient: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
$transition     : .3s all ease-in-out;
$bg-attachment  : fixed;
$grid-column    : repeat(3, 1fr);