%default-btn {
    border-radius : 50px;
    color         : $black-opacity;
    display       : inline-block;
    padding       : 15px 35px;
    text-align    : center;
    text-transform: uppercase;
    transition    : $transition;
    @include typography-03(14);

    &:hover {
        transform: translateY(-2px);
    }
}

%btn-tomato {
    background-color: $tomato;
    border          : 1px solid $tomato-opacity;
    border-radius   : 3px;
    color           : $white;
    display         : inline-block;
    padding         : 15px 20px;
    text-transform  : uppercase;
    transition      : $transition;
}

%btn-yellow {
    color         : $yellow-opacity;
    display       : inline-block;
    text-transform: uppercase;
    transition    : $transition;
    @include typography-03(14);

    &::before {
        border-bottom : 2px solid $yellow-opacity;
        content       : "";
        display       : inline-block;
        vertical-align: middle;
        margin-right  : 1rem;
        transition    : $transition;
        width         : 1.5rem;
    }

    &:hover {
        padding-left: 5px;
    }
}

%btn-blue {
    background-color: $blue;
    border-radius   : 3px;
    display         : inline-block;
    padding         : 16px 40px;
    text-align      : center;
    text-transform  : uppercase;
    transition      : $transition;
    @include typography-03(14);

    &:hover {
        background-color: $blue-opacity;
    }
}