html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

html,
body {
    height: 100%;
    width : 100%
}

.container {
    @include container;
}

.btn {
    border-radius : 50px;
    color         : $black-opacity;
    display       : inline-block;
    padding       : 18px 35px;
    text-transform: uppercase;
    transition    : $transition;
    @include typography-03(14);

    &:hover {
        transform: translateY(-2px);
    }
}