.s-about {
    background           : $linear-gradient, url("./../images/intro-bg.jpg");
    background-attachment: $bg-attachment;

    h1 {
        color: $yellow;
    }

    a {
        background-color: $yellow;
        @include border-btn($yellow-opacity);

        &:hover {
            background-color: $white-opacity;
        }
    }
}