.s-treinamento {
    background           : $linear-gradient, url("./../../images/section-bg-01.jpg");
    background-attachment: $bg-attachment;

    h1 {
        color: $red;
    }

    a {
        background-color: $red;
        color           : $gray-light;
        @include border-btn($red-opacity);

        &:hover {
            background-color: $white-opacity;
            color           : $black;
        }
    }
}