.about {
    background           : $linear-gradient, url("./../../images/about-bg.jpg");
    background-attachment: $bg-attachment;
}

/* main */
.about-main {
    @include display(grid);

    @include devices(l) {
        grid-template-columns: 1fr 1fr;
        gap                  : 40px;
        padding-right        : 120px;
    }

    @include devices(t) {
        align-self: center;
    }

    @include devices(m) {
        align-self    : end;
        padding-top   : 100px;
        padding-bottom: 50px;
    }
}

.about-text {
    p {
        @extend %paragraphs;
    }

    a {
        @extend %btn-yellow;
    }
}

/* stats */
.stats {
    background-color     : $black;
    background-attachment: $bg-attachment;
}

.stats-text {
    p {
        margin-top: 30px;
        @extend %paragraphs;
    }
}

.stats-activities {
    align-self: center;
    padding   : 0 2%;

    p {
        color         : $white;
        margin-bottom : 10px;
        text-transform: uppercase;
        @include typography-03(14);
    }

    .bar {
        background-color: rgba(85, 85, 85, 0.6);
        border-radius   : 20px;
        height          : 12px;
        margin-bottom   : 20px;
        position        : relative;
        width           : 100%;

        .bar-item {
            background-color: $white;
            border-radius   : 20px;
            left            : 0;
            height          : 12px;
            position        : absolute;
            top             : 0;
        }

        .bar-80 {
            width: 80%;
        }

        .bar-70 {
            width: 70%;
        }

        .bar-95 {
            width: 95%;
        }

        .bar-78 {
            width: 78%;
        }
    }
}

/* about gallery */

.galeria {
    grid-template-columns: repeat(3, 1fr);
    @include display(grid);

    @include devices(t) {
        grid-template-columns: 1fr;
    }

    @include devices(m) {
        grid-template-columns: 1fr;
    }
}

.galeria-item {
    cursor  : pointer;
    position: relative;

    img {
        display: block;
        width  : 100%;
    }

    h2 {
        color     : $white;
        left      : 50%;
        position  : absolute;
        top       : 50%;
        transform : translate(-50%, -50%);
        transition: $transition;
        text-align: center;
        @include typography-03(30);
        line-height: rem(30);
    }

    &:hover h2 {
        opacity: 0;
        top    : 0;
    }

    &:hover .overlay {
        height: 100%;
    }
}

.a-horario {
    background-color     : $black-opacity;
    background-attachment: $bg-attachment;
    padding              : 80px 0;
}

.horario-container {
    grid-template-columns: 1fr 1fr;
    @include display(grid);

    @include devices(t) {
        grid-template-columns: 1fr;
    }

    @include devices(m) {
        grid-template-columns: 1fr;
    }
}

.horario-item {
    gap                  : 30px;
    margin-bottom        : 50px;
    padding              : 0 25px;
    grid-template-columns: auto 2fr;
    @include display(grid);

    @include devices(m) {
        grid-template-columns: 1fr;
    }
}

.horario-icon {
    background-color: #323232;
    border          : 1px solid $black-light;
    border-radius   : 50%;
    display         : block;
    font-size       : rem(28);
    height          : 70px;
    line-height     : 70px;
    text-align      : center;
    width           : 70px;

    i {
        color : $blue;
        height: 28px;
        width : 28px;
    }
}

.horario-text {
    h2 {
        color        : $white;
        margin-bottom: 15px;
        @include typography-03(18);
    }

    p {
        color      : $gray;
        font-family: $font-01;
        line-height: 28px;
    }
}

/* a-bg section */
.a-bg {
    background           : $linear-gradient, url("./../images/about-bg-02.jpg");
    background-attachment: $bg-attachment;

    a {
        background-color: $red;
        color           : $gray-light;
        @include border-btn($red-opacity);
        @extend %default-btn;

        &:hover {
            background-color: $white-opacity;
            color           : $black;
        }
    }
}

/* about info*/
.a-info {
    background-color     : $black-light;
    background-attachment: $bg-attachment;
}

.a-info_container {
    padding: 120px 0;
    @include display(grid);
    
    @include grid-columns(repeat(3, 1fr));
    @include grid-gap(50px);

    @include devices(m) {
        @include grid-columns(1fr);
        @include grid-gap(20px);
    }

    background-color: darkcyan;
}

.a-info_item {
    text-align: center;

    span {
        color        : $red;
        display      : inline-block;
        margin-bottom: 20px;
        @include typography-03(35);
    }

    h2 {
        color        : $white;
        margin-bottom: 20px;
        @include typography-03(30);
    }

    p {
        color: $white;
        @include typography-03(18);
    }
}