//section about
.h-about {
    background           : $linear-gradient, url("./../images/intro-bg.jpg");
    background-attachment: $bg-attachment;

    @include devices(t) {
        padding-top   : 100px;
        padding-bottom: 20px;
    }

    @include devices(m) {
        padding-top   : 100px;
        padding-bottom: 20px;
    }

    a {
        background-color: $yellow;
        @include border-btn($yellow-opacity);
        @extend %default-btn;

        &:hover {
            background-color: $white-opacity;
        }
    }
}

//section treinamento
.h-treinamento {
    background           : $linear-gradient, url("./../images/section-bg-01.jpg");
    background-attachment: $bg-attachment;

    a {
        background-color: $red;
        color           : $gray-light;
        @include border-btn($red-opacity);
        @extend %default-btn;

        &:hover {
            background-color: $white-opacity;
            color           : $black;
        }
    }
}

//section planos
.h-planos {
    background           : $linear-gradient, url("./../images/section-bg-02.jpg");
    background-attachment: $bg-attachment;
    min-height           : 100%;

    a {
        background-color: $blue;
        @include border-btn($blue-opacity);
        @extend %default-btn;

        &:hover {
            background-color: $white-opacity;
            color           : $black;
        }
    }

    p {
        @include devices(l) {
            max-width: 80ch;
        }
    }
}

//section info
.h-info {
    background-color     : $black;
    background-attachment: $bg-attachment;
    padding              : 80px 2%;
}

.h-info_container {
    display              : grid;
    grid-template-columns: repeat(5, 1fr);
    gap                  : 20px;

    @include devices(t) {
        grid-template-columns: repeat(3, 1fr);
        align-content        : center;
        justify-content      : center;
    }

    @include devices(m) {
        grid-template-columns: 1fr;
    }
}

.info-item {
    color     : $white;
    padding   : 25px;
    text-align: center;

    &:not(&:last-child) {
        border-right: 1px solid $black-opacity;
    }

    @include devices(m) {
        border: transparent;
    }

    span {
        display      : block;
        margin-bottom: 20px;
        @include typography-03(55);
    }

    p {
        text-transform: uppercase;
        @include typography-03(14);
    }
}

/* section planos */
.h-pacotes {
    background           : $linear-gradient, url("./../images/section-bg-04.jpg");
    background-attachment: $bg-attachment;
}

/* section comentarios */
.h-comentarios {
    background-color     : $black-opacity;
    background-attachment: $bg-attachment;
}

.comentarios-container {
    padding-top   : 120px;
    padding-bottom: 120px;

    @include devices(t) {
        padding-top   : 60px;
        padding-bottom: 60px;
    }

    @include devices(m) {
        padding-top   : 60px;
        padding-bottom: 60px;
    }
}

.comentarios-container {
    @include grid();
    @include grid-3();
}

.comentario-item {
    padding   : 30px;
    text-align: center;

    img {
        border-radius: 50%;
        height       : 200px;
        margin-bottom: 20px;
        width        : 200px;

        @include devices(t) {
            height: 150px;
            width : 150px;
        }
    }

    p {
        color        : $gray;
        margin-bottom: 20px;
        @include typography-01(16);
    }

    h3 {
        color: $white;
        @include typography-03(18);
    }
}