.precos-bg {
    background           : $linear-gradient, url("./../images/precos-bg-01.jpg");
    background-attachment: $bg-attachment;

    a {
        @extend %btn-yellow;
    }
}

.p-pacotes {
    background           : $linear-gradient, url("./../images/precos-bg-02.jpg");
    background-attachment: $bg-attachment;

}

.p-basico {
    background           : $linear-gradient, url("./../images/preco-basico-bg.jpg");
    background-attachment: $bg-attachment;
    padding              : 0 4%;
}

.p-moderado {
    background           : $linear-gradient, url("./../images/preco-moderado-bg.jpg");
    background-attachment: $bg-attachment;
    padding              : 0 4%;
}

.p-fera {
    background           : $linear-gradient, url("./../images/preco-fera-bg.jpg");
    background-attachment: $bg-attachment;
    padding              : 0 4%;
}

.preco-container {
    max-width       : 600px;
    width           : 100%;

    @include devices(l) {
        padding: 0 120px;
    }

    a {
        background-color: $blue;
        @include border-btn($blue-opacity);
        @extend %default-btn;

        &:hover {
            background-color: $white-opacity;
            color           : $black;
        }
    }

    p {
        margin-left: 0;
    }
}