@mixin container() {
    margin   : 0 auto;
    max-width: 1200px;
    padding  : 0px 2%;
    width    : 100%;
}

@mixin bg-section() {
    min-height: 100%;
    position  : relative;
    width     : 100%;
}

@mixin bg-properties() {
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
}

@mixin flex-properties($align-items, $justify-content) {
    align-items    : $align-items;
    justify-content: $justify-content;
}

@mixin border-btn($color) {
    border: 1px solid $color;
}

@mixin display($propertie) {
    display: #{$propertie};
}

@mixin grid-columns($columns) {
    grid-template-columns: #{$columns};
}

@mixin grid-gap($gap) {
    gap: #{$gap}
}