.header {
    padding-top   : 20px;
    padding-bottom: 20px;
    position      : absolute;
    width         : 100%;
    z-index       : 999;
}

.header-nav {
    @include display(flex);
    @include flex-properties(center, space-between);
}

.logo {
    @include typography-03(35);
    color      : $white;
    font-weight: 600;
}

.nav-desktop {
    @include display(flex);
    @include flex-properties(center, space-between);
    color: $white;
    gap  : 40px;

    a {
        @include typography-03(15);
        transition: $transition;

        &:hover {
            color: $blue;
        }
    }

    @include devices(t) {
        display: none;
    }

    @include devices(m) {
        display: none;
    }
}

.nav-mobile {
    background-image: url("./../images/menu.png");
    height          : 50px;
    width           : 50px;
    @include bg-properties();

    @include devices(l) {
        display: none;
    }

    @include devices(t) {

        &:hover .n-mobile {
            display: block;
        }
    }

    @include devices(m) {
        &:hover .n-mobile {
            display: block;
        }
    }
}

.n-mobile {
    background-color: $white;
    display         : none;
    left            : 0;
    position        : absolute;
    top             : 110px;
    width           : 100%;

    li {
        border-bottom: 1px solid $gray-light;
        padding      : 10px 0 10px 20px;
    }

    a {
        @include typography-02(14);
        color         : $black-light;
        text-transform: uppercase;
    }
}