.intro {
    background           : $linear-gradient, url("./../images/intro-bg.jpg");
    background-attachment: $bg-attachment;
    height               : 100%;
    width                : 100%;
    @include bg-properties;

    h1 {
        color: $yellow;
    }

    a {
        background-color: $yellow;
        @include border-btn($yellow-opacity);
    }
}