.section {
    @include bg-properties;
    @include bg-section;

    align-items: center;
    display    : flex;
    padding    : 0 2%;
    word-break : break-word;

    @include devices(t) {
        padding-top: 100px;
    }

    @include devices(m) {
        padding-top: 100px;
    }
}

.section-info {
    padding: 2%;

    >p {
        color        : $white;
        margin-bottom: 30px;
        max-width    : 50ch;
        @include typography-01(16);

        @include devices(m) {
            max-width: 30ch;
        }
    }
}

.section-title {
    @include typography-03(80);

    span {
        color: $white;
    }

    @include devices(t) {
        display       : flex;
        flex-direction: column;
    }

    @include devices(m) {
        flex-direction: column;
        font-size     : rem(35);
        line-height   : rem(45);
    }
}

.odd {
    @include devices(l) {
        padding-left: 120px;
    }
}

.even {
    justify-content: end;
    text-align     : right;

    @include devices(l) {
        padding-right: 120px;
    }

    p {
        margin-left: 160px;
    }

    .section-title {
        @include devices(m) {
            margin-left: 70px;
        }
    }
}